@model LawyerOffice.Models.Offices

@{
                /**/

                ViewBag.Title = "حذف";
}


<h3> متأكد من الحذف؟</h3>
<div class="text-right" style="direction:rtl">
    
    <hr />
    <dl class="dl-horizontal text-right" style="direction:rtl">
        <dt>
            @Html.DisplayNameFor(model => model.OfficeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" />
            <br />
        </div>
    }
</div>
<a href="@Url.Action("index")" class="btn btn-default"><i class="fas fa-backward"></i> الرجوع</a>
